@if(assignments) {
    <main class="container-fluid">
    <h1>A3: Pokedex in JavaScript</h1>
        <p>In this assignment, you will apply programming principles in JavaScript to create an interactive Pokedex. Many such pokedexes exist, such as <a href="https://bulbapedia.bulbagarden.net/">Bulbapedia</a>. Here, we'll leverage the <a href="https://pokeapi.co/">PokeAPI</a> to create a fairly simple pokedex for the original 151 Pokemon.</p>
        <p>This assignment is in three parts, with a part due every 1-1.5 weeks. In the first part (<a href="assignments/a3#hello">Part 1</a>), you will use JavaScript to dynamically populate a Pokedex entry with some information about the Pokemon. In the second part (<a href="assignments/a3#stats">Part 2</a>), you will use loops and functions to populate the Pokemon's stats and moves. In the third part (<a href="assignments/a3#search">Part 3</a>) you will update the main page of your Pokedex to include search and filter features. This assignment is worth <strong>25 points</strong>, split between the three parts.</p>
        <h2>Starter code</h2>
        <p>The code is available for download <a href="https://github.com/uci-inf-285/a3-pokedex">on GitHub</a>.
        <h3>Repository Structure</h3>
        <p>We have provided a folder with a number of files to you. You will edit some of them in this assignment, but not all.</p>
        <p>The files you <em>should not</em> need to edit are:</p>
        <ul>
            <li>The <code>media</code> folder, which includes default (Missingno) images and specifies the icon to render in your browser bar.</li>
            <li><code>index.html</code>. This file includes the visual information for how the Pokedex page is structured.</li>
            <li><code>pokedex.html</code>. This file includes the visual information for how a Pokemon's page is structured.</li>
            <li><code>style.css</code>. This file includes styling information for the webpage.</li>
            <li><code>pokemon.js</code>, which leverages the PokeAPI to access data about specific Pokemon.</li>
            <li><code>utility.js</code>, which includes a few helper functions.</li>
        </ul>
        <p>Note that this means you <strong>should not edit any HTML or CSS files</strong>, and only need to edit a subset of <strong>JavaScript</strong> files. You may choose to, but only for adding functionality beyond the assignment requirements.</p>
        <p>The files you <em>should</em> edit are:</p>
        <ul>
            <li><code>pokemon_page.js</code>: The JavaScript file for Pokedex entries, which you will use in Parts 1 and 2.</li>
            <li><code>search_page.js</code>: The JavaScript file for the search features of the Pokedex, which you will use in Part 3.</li>
            <li><code>readme.docx</code>: A document with some questions to fill out about your experience adding the search and filter features.</li>
        </ul>
        <h2 id="hello">Part 1: {{assignments[0].name}}</h2>
        <p>We have already implemented capability for your Pokedex to access information from the PokeAPI. In fact, you can already see a list of all 151 Pokemon, their types, and links to their Pokedex entries!</p>
        <img class="image" src="assignments/a3_pokedex.png">
        <p>You can look at any Pokemon's Pokedex entry by clicking on a pokemon in <code>index.html</code>, which navigates to <code>pokedex.html</code> and passes a <em>number</em> parameter in the URL for which entry to load. For any entry, it currently shows information for <a href="https://bulbapedia.bulbagarden.net/wiki/MissingNo.">MissingNo</a>: a bug from the early Pokemon games. In the first part of the assignment, you will update the JavaScript code for Pokedex entries to display the correct information about a Pokemon.</p>
        <img class="fullwidth" src="assignments/a3_missingno.png">
        <p>All Pokedex entries are accessed Each Pokemon has unique information: a unique name, sprite, height, etc. Through the powers of JavaScript, you can write code that autmatically loads this information given the Pokedex number. For example, Pokedex entry #7 is Squirtle, which has the following profile:</p>
        <img class="fullwidth" src="assignments/a3_squirtle.png">
        <p>The <code>pokedex.html</code> file references <code>pokemon_page.js</code> to identify what information should be displayed. In this part, edit the <code>updateDescription</code> function to call methods of the Pokemon class to update its name, sprite, cry, height, weight, type(s), and description. Some of these fields may require some mathematical conversions, or conditional statements (e.g., <code>if</code>) to operate. Bulbapedia is a good resource for looking up whether information for a given Pokemon is being displayed correctly. If you change the Pokedex number that gets passed to <code>pokedex.html</code>, the data should change; Charizard has a different sprite, height, types, etc. than Squirtle.</p>
        <p>Once you are displaying the correct information for each Pokemon, edit the <code>updateNavigation</code> function to support sequential navigation between Pokemon. For example, Squirtle is #007, appearing before Charizard (#006) and after Wartortle (#008). Use conditional statements to handle the edge cases of Bulbasaur (#001), who has no Pokemon before it, and Mew (#151), who has no Pokemon after it.</p>
        <p>This part of the assignment is worth <strong>7 points</strong>, distributed as:</p>
        <ul>
            <li>Description fields (4 points)</li>
            <li>Navigation (3 points)</li>
        </ul>
        <p>To submit, zip your code repository and upload it to <a href="https://canvas.eee.uci.edu/courses/81344/assignments/1785260">Canvas</a>. Include all files.</p>
        <h2 id="stats">Part 2: {{assignments[1].name}}</h2>
        <p>In this part, continue editing the <code>pokemon_page.js</code> file to update the stats and moves of each pokemon (via the <code>updateStats</code> and <code>updateMoves</code> functions). To update the stats, you will have to read up on <a href="https://getbootstrap.com/docs/5.3/components/progress/">Bootstrap's progress bar</a> to learn how its width and color get styled, and DOM manipulation for how to edit those styles. You will also have to use loops (e.g., <code>for</code>) to loop over the arrays of moves that each Pokemon has. The <code>updateStat</code> and <code>addMove</code> functions intend to help with some of the more fiddly parts of displaying and populating these fields.</p>
        <p>This part of the assignment is worth <strong>8 points</strong>, distributed as:</p>
        <ul>
            <li>Pokemon stats (4 points)</li>
            <li>Displaying moves (4 points)</li>
        </ul>
        <p>To submit, zip your code repository and upload it to <a href="https://canvas.eee.uci.edu/courses/81344/assignments/1785262">Canvas</a>. Include all files.</p>
        <h2 id="search">Part 3: {{assignments[2].name}}</h2>
        <p>Now that your Pokedex entries are intact, you can return to your Pokedex page's JavaScript file (<code>search_page.js</code>, on <code>index.html</code>) to add capability for searching for Pokemon by name and filtering by type. These two capabilities will use the same functions, e.g., <code>updateSearchResults</code>, <code>showPokemon</code>, and <code>hidePokemon</code>. It's recommended that you try to implement them one at a time.</p>
        <img class="image" src="assignments/a3_search_demo.gif">
        <p>From here, you can extend your assignment in different ways for extra credit. One is to access and display additional information from the PokeAPI, which likely requires extending the <code>pokemon.js</code> class. Another is adding additional search/filter functionality, like a "check/uncheck all" button or the ability to search by move in addition to Pokemon name. Talk to the course staff if you have additional ideas that you would like to pursue! We can offer up to 5 points of extra credit for advancements.</p>
        <p>This part of the assignment is worth <strong>10 points</strong>, distributed as:</p>
        <ul>
            <li>Search by Pokemon name (5 points)</li>
            <li>Filter by type (5 points)</li>
        </ul>
        <p>To submit, zip your code repository and upload it to <a href="https://canvas.eee.uci.edu/courses/81344/assignments/1785263">Canvas</a>. Include all files.</p>
    </main>
}