<div class="row">
	<aside class="col-md-3 col-12">
		<h2>Basic Information</h2>
		<p>Live Demos: TBD</p>
		<p>Office Hours: TBD</p>
		<p>Email: <a href="mailto:informatics-285-staff@uci.edu">informatics-285-staff&#64;uci.edu</a></p>
        <p>Canvas: TBD</p>
		<h2>Upcoming Due Dates</h2>
		@for (event of assignments; track event.dateStr) {
            <p>
                @if (event.link) {
                    <a [href]="event.link">{{event.dateStr}}: {{event.title}} {{event.name}}</a>
                }
				@else {
					<span>{{event.dateStr}}: {{event.title}} {{event.name}}</span>
				}
            </p>
        }
        @if (assignments.length == 0) {
            <p>No more!</p>
        }
		<h2>Recent Lectures & Discussions</h2>
        @for (event of lectures; track event.dateStr) {
            <p>
                {{event.dateStr}}: {{event.title}}
                @if(event.link) {
                    <a [href]="event.link"> (slides)</a>
                }
                @if(event.recording){
                    <a [href]="event.recording"> (recording)</a>
                }
            </p>
        }
        @if(lectures.length == 0) {
            <p>
                None yet!
            </p>
        }
	</aside>
	<main class="col-md-9 col-sm-12">
		<p>Welcome! This class focuses on giving MHCID students a deeper understanding of the decisions and practices of the Software Engineers they will work alongside, alongside a bit of a hands-on introduction to programming and software development. We'll cover the strategies that teams use to organize larger projects such as managing data and code, integrating with coding libraries and frameworks, and effectively leveraging AI. We'll also do a shallow dive into programming in HTML, CSS, and JavaScript, which form the backbone of web and mobile development.</p>
        <h2>Course Staff</h2>
    	<div class="row">
    		<div class="col-4">
    			<span>Professor Daniel Epstein</span>
    			<img class="d-none d-lg-block" src="/images/epstein.jpg" alt="picture of Professor Epstein" width="200px">
    		</div>
    		<div class="col-4">
    			<span>TA Weijun Li</span>
    			<img class="d-none d-lg-block" src="/images/weijun.jpg" alt="picture of TA Weijun Li" width="200px">
    		</div>
            <div class="col-4">
    			<span>TA Ziqi Yang</span>
    			<img class="d-none d-lg-block" src="/images/ziqi.jpg" alt="picture of TA Ziqi Yang" width="200px">
    		</div>
    	</div>
        <h2>Repository</h2>
        <p>This website is live on GitHub: 
            <a href="https://github.com/uci-inf-285/inf285-sp26" target="_blank">https://github.com/uci-inf-285/inf285-sp26</a>
        <p>You can create issues if information is unclear, incorrect, or out-of-date. You can even submit a pull request to resolve them yourself!</p>
	</main>
</div>