@if(assignments) {
    <main class="container-fluid">
        <p class="tbd">Need to create readme.</p>
        <h1>A1: TODO List in HTML and CSS</h1>
        <p>In this assignment, you will build a TODO list application in HTML and CSS. Of course, there are many such apps that exist already. But through creating one and customizing its appearance, you'll get some exposure to how webpages are structured and styled.</p>
        <p>This assignment is in two parts, with a part due each week. In the first week (<a href="assignments/a1#html">Part 1</a>), you will use HTML to edit the default items on the TODO list. In the second week (<a href="assignments/a1#css">Part 2</a>), you will use CSS to style your TODO list and add animations.</p>
        <h2>Starter code</h2>
        <p>The code is available for download <a href="https://github.com/uci-inf-285/a1-todo-list">on GitHub</a>.
        <h3>Repository Structure</h3>
        <p>We have provided a folder with a number of files to you. You will edit some of them in this assignment, but not all.</p>
        <p>The files you <em>should not</em> need to edit are:</p>
        <ul>
            <li><code>favicon.ico</code>, which specifies the icon to render in your browser bar. You can choose to change this if you like, such as to make consistent theming in your design. But doing so is not required.</li>
            <li><code>script.js</code>. This file includes all of the coding logic for adding and removing items from the TODO list.</li>
        </ul>
        <p>Note that this means you <strong>should not edit any JavaScript files</strong>. You may choose to, but only for adding functionality beyond the assignment requirements.</p>
        <p>The files you <em>should</em> edit are:</p>
        <ul>
            <li><code>index.html</code>: The HTML file for your TODO list.</li>
            <li><code>style.css</code>: The CSS file which indicates your design.</li>
            <li><code>readme.docx</code>: A document with some questions to fill out about your experience using a Design System.</li>
        </ul>
        <h2 id="html">Part 1: {{assignments[0].name}}</h2>
        <p>The TODO list that we've provided offers functionality for adding, completing, and removing events. For the first part of the assignment, you will add some default TODO items. You'll complete your first item, too!</p>
        <p>Edit the <code>index.html</code> file to add two default TODO items: one for creating a checklist, a second for styling the webpage, and a third for adding animations. Use your browser's inspector (demoed in lecture) to figure out what tags to use for these items. Once you have added these items, you can add an attribute to the "Create Checklist" item to mark it as complete!</p>
        <img width="50%" class="image" src="assignments/a1_todo.png" a href="A TODO list, with 'create checklist' completed and 'add animations' in-progress.">
        <p>To submit, zip your code repository and upload it to <a class="tbd">Canvas</a>. Include all files needed to run your webpage.</p>
        <h2 id="css">Part 2: {{assignments[1].name}}</h2>
        <p>Your TODO list is functional, but its design is rather simple. In the second part of the assignment, you will use CSS to customize its layout. You will further add animations for when a TODO item is completed or removed from the list. Exactly how you style and animate the webpage is up to you. You must change the default colors, add a background of some sort, and add animations for when an event is completed or removed. Feel free to use online resources to learn how to implement different forms of styling, or export CSS styling from a mockup tool.</p>
        <p>Below is an example which fulfills all of the requirements. Don't judge my design sense too harshly!</p>
        <img width="50%" class="image" src="assignments/a1_demo.gif" a href="An example of a functioning TODO list, with animations.">
        <p>If you are coming into this class with programming experience, or experience with HTML and CSS, you may want to extend this assignment. One way is by pushing yourself to examine aspects of styling or design that you are less familiar with. Another is by editing the JavaScript to store your TODO list, such as with the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage">localStorage API</a> provided by browsers. Feel free to discuss other extensions with the course staff.</p>
        <p>To submit, zip your code repository and upload it to <a class="tbd">Canvas</a>. Include all files needed to run your webpage.</p>
    </main>
}