@if(assignments) {
    <main class="container-fluid">
    <h1>A0: Hello, World!</h1>
    <p>Typically, the first piece of code that a person writes in a programming language is the <em>Hello, World!</em> program. This assignment will have you do just that in HTML, getting you used to editing files. As we will discuss in the coming weeks, HTML is an odd language for writing a Hello World! program, since many plain text files can be valid HTML. But since it's the language that we'll spend the most time with, it's a valuable to start here. As an A0, this assignment isn't intended to be challenging. It's primarily intended to make sure your environment is set up for more complex assignments later.</p>
    <h2>Starter Code</h2>
    <p>The code is available for download <a href="https://github.com/uci-inf-285/a0-hello-world">on GitHub</a>. If you want to practice version control, you can use create your own copy of the repository via "use this template" in the top-right. You can also directly clone/download the repository via the "code" button.</p>
    <img width="100%" class="image" src="assignments/a0_github.png" alt="A GitHub repository header">
    <p>This assignment contains one single file that you will edit: <code>index.html</code>.</p>
    <h3>Editing and Running your Code</h3>
    <p>We recommend <a href="https://code.visualstudio.com/">Visual Studio Code</a> as an Integrated Development Environment (IDE). But you can use whatever program you want to edit your code. To run your site, you can open it up in your favorite browser by double-clicking on it or navigating in your browser to open the file.</p>
    <img width="25%" class="image" src="assignments/a0_open.png" alt="A dropdown file menu">
    <p>Doing so will open a very boring webpage:</p>
    <img width="50%" class="image" src="assignments/a0_webpage.png" a href="A 'Hello World!' webpage">
    <h2>The Assignment</h2>
    <p>Open the <code>index.html</code> file in your IDE of choice, and edit the text in line 7 to display your name instead of [...]. We'll discuss what the other lines are doing later on. If you refresh your page, you should now see your name displayed.</p>
    <p>That's it! Upload your edited file to <a class="tbd">Canvas</a>. Future assignments will be more involved.</p>
    </main>
}